* {
  box-sizing: border-box;
}

.resources-title {
  border: solid black 1px;
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
  text-align: center;
  font-size: 30px;
}

div.gallery {
  border: 1px solid #ccc;
}

.imageBox {
  height: 100px;
  width: 100px;
}
z div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  max-height: 200px;
}

div.desc {
  padding: 15px;
  text-align: center;
}

div.responsive {
  padding: 0 6px;
  float: left;
  width: 19.999%;
}

@media only screen and (max-width: 700px) {
  div.responsive {
    width: 49.999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  div.responsive {
    width: 100%;
  }
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

div.responsive.left {
  padding: 0 6px 0 0;
}

div.responsive.right {
  padding: 0 0 0 6px;
}

small {
  padding: 0 0 10px 100px;
}

h1 {
  color: #4e6e58;
  font-family: "Poppins", sans-serif;
  justify-content: center;
  display: flex;
}

.bigFont {
  font-size: 80px;
  padding-top: 50px;
  padding-bottom: 10px;
}
.smallFont {
  font-size: 25px;
}

.nav-item {
  font-family: "Poppins", sans-serif;
}

a.nav-link:link {
  color: #7ca288;
}

a.nav-link:visited {
  color: #7ca288;
}

a.nav-link:hover {
  color: #acbdba;
}

a.nav-link:active {
  color: #7ca288;
}

.header h2 {
  color: #acbdba;
  font-family: "Poppins", sans-serif;
  display: flex;
  padding-top: 10px;
}

.col-6 {
  align-content: center;
  font-family: "Poppins", sans-serif;
  padding: 80px 35px 40px 35px;
  width: 100%;
}

.footer {
  display: flex;
  font-family: "Poppins", sans-serif;
  color: #7ca288;
  background-color: white;
  justify-content: center;
  text-decoration: none;
  padding-top: 0px;
  position: absolute;
  bottom: -10px;
  width: 100%;
  align-content: center;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  color: #7ca288;
}

.fa:hover {
  opacity: 0.7;
  color: #acbdba;
}

i {
  display: flex;
  justify-content: center;
}

.form-container {
  display: table;
  margin: auto;
}

.form-group {
  font-family: "Poppins", sans-serif;
  text-align: left;
  width: 100%;
  margin: 30px;
  justify-content: center;
}

.form-check {
  font-family: "Poppins", sans-serif;
  margin: 30px;
}

.btn-primary {
  margin: 30px;
}

.carousel-item img {
  height: 400px !important;
  width: 600px !important;
  object-fit: cover;
}

.desc {
  font-family: "Poppins", sans-serif;
}

.gallery {
  color: #7ca288;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active {
  background-color: #acbdba;
  border-color: #acbdba;
}

.fit-image {
  width: 100%;
  object-fit: cover;
}
